DJANGO_SECRET_KEY=replace-me-on-ec2
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=<ec2-public-ip>,localhost,127.0.0.1

POSTGRES_DB=retailflow
POSTGRES_USER=retailflow
POSTGRES_PASSWORD=retailflow
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0
REDIS_CACHE_URL=redis://redis:6379/2
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_DIRECT_TOPIC=retailflow.direct.order_signals

